In [1]:
#Q1
word = input ("Enter a string: ")
new_word = ""
for i in word:
  new_word = i + new_word
print(new_word)

Enter a string: ashmita
atimhsa

In [ ]:
#Q2
n = int (input("Enter a number: "))
a = int (input("Enter the start value of range: "))
b = int (input("Enter the end value of range: "))

for i in range (a,b+1): # +1 for including the end value
  if i%n ==0:
    print (i)

Enter a number: 5
Enter the start value of range: 0
Enter the end(included) value of range: 20
0
5
10
15
20

In [ ]:
#Q3

a = int (input ("Enter the length of first side: "))
b = int (input ("Enter the length of first side: "))
c = int (input ("Enter the length of first side: "))

d = a+b > c
e = b+c > a
f = c+a > b

s = (a+b+c)/2
Area = (s*(s-a)*(s-b)*(s-c))**0.5

if d&e&f :
  print ("Triangle is formed")
  print ("Area of triangle= ",Area, "sq. units")
else :
  print ("Triangle cannot be formed")

Enter the length of first side: 3
Enter the length of first side: 4
Enter the length of first side: 5
Triangle is formed
Area of triangle=  6.0 sq. units

In [29]:
#Q4
for i in range (1,6):
  for j in range (0,i):
    print ("*", end='')
  print()
for i in range (0,5):
  j=4-i
  while j>0:
    print ("*", end='')
    j=j-1
  print()

*
**
***
****
*****
****
***
**
*

In [31]:
#Q5
a1 = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
a = a1
n = int(input("Enter the number of rows: "))
for i in range (1,n+1):
  if len(a)<i:
    a=a+a1
  for j in range (0,i):
    print (a[j], end='')
  print()
  a = a[i:]

Enter the number of rows: 7
A
BC
DEF
GHIJ
KLMNO
PQRSTU
VWXYZAB

In [10]:
#Q6
lower_value = int(input("Enter the lower value of range: "))
upper_value = int(input("Enter the upper value of range: "))

for number in range(lower_value,upper_value+1):   # +1 for including the upper range as well
  if number>1:
    for i in range (2,number):
      if number%i ==0:
        break
    else:
      print(number)

Enter the lower value of range: 2
Enter the upper value of range: 20
2
3
5
7
11
13
17
19

In [53]:
#Q7
for i in range (1,500):
  if (i % 7 ==0 and i%11==0):
    print (i)

77
154
231
308
385
462

In [1]:
#Q8
n = input("Enter 10 integers: ")
int_list = n.split(',')
print (int_list)

#part(a)
print ("Positive numbers are:")
for i in int_list:
  j = int(i)
  if j > 0:
    print (j)
    j = j+1

#part(b)
print ("Negative numbers are:")
for i in int_list:
  j = int(i)
  if j < 0:
    print (j)
    j = j+1

#part(c)
print ("Odd numbers are:")
for i in int_list:
  j = int(i)
  if j %2 != 0:
    print (j)
    j = j+1

#part(d)
print ("Even numbers are:")
for i in int_list:
  j = int(i)
  if j %2== 0:
    print (j)
    j = j+1

#part(e)
for i in int_list:
  g=0
  n=0
  if (i=='----'):
    continue

  for j in int_list:
    if i==j :
      n = n+1
      int_list[g]='----'
    g = g+1
  print("Number of times" , i, "occured :",n)

Enter 10 integers: 3,5,7,-8,-8,0,5,3,-5,3
['3', '5', '7', '-8', '-8', '0', '5', '3', '-5', '3']
Positive numbers are:
3
5
7
5
3
3
Negative numbers are:
-8
-8
-5
Odd numbers are:
3
5
7
5
3
-5
3
Even numbers are:
-8
-8
0
Number of times 3 occured : 3
Number of times 5 occured : 2
Number of times 7 occured : 1
Number of times -8 occured : 2
Number of times 0 occured : 1
Number of times -5 occured : 1

In [37]:
#Q9
words = input("Enter a list of words: ")
list = words.split()
print (list)

for i in list:
  g=0
  n=0
  if (i=='----'):
    continue

  for j in list:
    if i==j :
      n = n+1
      list[g]='----'
    g = g+1
  print("Number of times" , i, "occured :",n)

Enter a list of words: hi hello hi hey hello i me you hi i me you hey
['hi', 'hello', 'hi', 'hey', 'hello', 'i', 'me', 'you', 'hi', 'i', 'me', 'you', 'hey']
Number of times hi occured : 3
Number of times hello occured : 2
Number of times hey occured : 2
Number of times i occured : 2
Number of times me occured : 2
Number of times you occured : 2